.container, .container-fluid{
    overflow: hidden;
}

#me{
    width: 12em;
    height: 12em;
    margin-top: 0.8em;
    margin-right: 2em;
    margin-bottom: 0.2em;
}

#me2{
    display: none;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    text-align: justify;
    padding: 0em;
}

.headings{
    font-size:2.5em;
}

.project-item{
    padding-top:1em;
    overflow: hidden;
    padding-bottom: 0;
}

.project-item p,ul{
    /*padding-bottom: 1em;*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    list-style-type: none;
    padding-left: 0;
    font-size: 1em;
}

.project-item .collapse-button{
    padding-top:0;
    padding-bottom: 0;
    font-size: 1.5em;
    float: right;
    border: none;
    border-radius: 50%;
}

.upper[aria-expanded=true] {
    display: none;
  }

@media screen and (max-width: 770px){
    #me{
        display: none;
    }

    #me2{
        display: block;
        margin: auto;
    }
}

.icon{
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.fa-instagram{
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#footer{
    font-family: "Lucida Console", Monaco, monospace;
}

a:hover{
    text-decoration: none;
}

.blog-link{
    font-size: 1.2em;
}
